
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-container {
  background-color: #000000;
  opacity: 0;
  animation: fadee 2s ease-in-out forwards;
}

@keyframes fadee {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

@keyframes flashb {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.flash {
  animation: flashb 0.3s ease-in-out;
}

.hidden-link {
  visibility: hidden;
  pointer-events: none;
}

.hidden-link.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

abbr {
  border-bottom: none;
  text-decoration: none;
}

body {
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@keyframes moveScanlines {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -8px;
  }
}

header {
  background-color: black;
  text-align: center;
  position: relative;
  overflow: visible;
  z-index: 1;
  padding: 5px;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg,
      rgba(56, 9, 9, 0.226) 0px,
      rgba(134, 5, 5, 0.267) 2px,
      transparent 2px,
      transparent 6px);
  background-size: 100% 8px;
  animation: moveScanlines 1s linear infinite;
  z-index: -1;
  pointer-events: none;
}

header img {
  width: 50%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

nav {
  background-color: rgb(160, 0, 0);
  padding: 10px;
  text-align: center;
  box-shadow:
    0 0 30px rgb(141, 0, 0),
    0 0 60px rgba(180, 0, 0, 0.8),
    0 10px 20px rgba(170, 0, 0, 0.6),
    0 0 80px rgba(200, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(255, 149, 149);
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffc7c7, 0 0 20px #ffacac, 0 0 30px #ffbfbf, 0 0 40px #ff0000, 0 0 50px #ffc7c7, 0 0 60px #ffd1d1, 0 0 70px #ffd7d7;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
  padding: 10px;
  gap: 40px; 
}

.footer-section {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year p {
  font-size: 18px;
  color: rgb(255, 149, 149);
  margin: 0;
  padding-left: 1vw;
}

.footer-section.audio {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgb(160, 0, 0);
  text-align: center;
  padding: 12px 20px; 
  box-shadow:
    0 -10px 15px rgba(158, 3, 3, 0.7),
    0 -15px 25px rgba(170, 0, 0, 0.6),
    0 -20px 40px rgba(170, 0, 0, 0.4);
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
   
  margin: 0 auto;
}

#play-music-btn {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.863);
  background-color: #000000;
  color: #FF0000;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

#play-music-btn:hover {
  background-color: #3d0909;
  color: #ff8383;
  border-color: #4b0808;
}


.info-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #e63946;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(230, 57, 70, 0.75);
  transition: all 0.3s ease-in-out;
}

#bro {
  z-index: 5;
  box-shadow: 0 0 10px 2px rgba(224, 226, 68, 0.75);
  transition: all 0.3s ease-in-out;
  border: 2px solid rgb(247, 255, 171);
}

#bro:hover {
  box-shadow: 0 0 20px 5px rgb(57, 218, 230);
  border: 2px solid #7fccda;
}

#bro h3 {
  color: rgb(255, 254, 185);
}

.info-container:hover {
  box-shadow: 0 0 20px 5px rgba(230, 57, 70, 1);
}

.info-text {
  flex: 1;
  color: #ffffff;
}

.info-text h3 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: #e63946;
}

.info-text p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.info-image {
  max-width: 150px;
  flex-shrink: 0;
  z-index: 3;
}

.info-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


@keyframes flicker {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
  }

  20% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9), 0 0 15px rgba(255, 0, 0, 0.7);
  }

  40% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 25px rgba(255, 0, 0, 0.5);
  }

  60% {
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.9), 0 0 30px rgba(255, 0, 0, 0.4);
  }

  80% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
  }

  100% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 0 0 15px rgba(255, 0, 0, 0.8);
  }
}



.audio {
  display: flex;
  justify-content: center;
}

audio {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: calc(100vh - 160px);
  overflow: hidden;
}

article {
  background-color: #000000;
  overflow-y: auto;
  padding: 3rem;
  color: #ff7575;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.404), 0 0 20px rgba(255, 0, 0, 0.315);
}

article>* {
  margin-bottom: 15px;
}

aside {
  background-color: rgb(27, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border-left: 10px solid rgb(170, 0, 0);
  box-shadow:
    -5px 0 15px rgba(170, 0, 0, 0.7),
    -5px 0 25px rgba(170, 0, 0, 0.5);
  overflow: hidden;
}

aside::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg,
      rgba(56, 9, 9, 0.74) 0px,
      rgba(134, 5, 5, 0.74) 2px,
      transparent 2px,
      transparent 6px);
  background-size: 100% 8px;
  animation: moveScanlines 1s linear infinite;
  z-index: -1;
  pointer-events: none;
}

.mascot-container {
  text-align: center;
}

.mascot-img {
  transition: opacity 1s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  background-color: #00000059;
  position: relative;
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
  box-shadow:
    0 0 15px rgba(255, 0, 0, 0.8),
    0 0 30px rgba(255, 0, 0, 0.6),
    0 0 45px rgba(255, 0, 0, 0.4),
    0 0 60px rgba(255, 0, 0, 0.2);
  animation: glowPulse 0.7s infinite alternate;
}

@keyframes glowPulse {
  from {
    box-shadow:
      0 0 15px rgba(255, 0, 0, 0.8),
      0 0 30px rgba(255, 0, 0, 0.6),
      0 0 45px rgba(255, 0, 0, 0.4),
      0 0 60px rgba(255, 0, 0, 0.2);
  }

  to {
    box-shadow:
      0 0 20px rgba(255, 0, 0, 1),
      0 0 40px rgba(255, 0, 0, 0.8),
      0 0 60px rgba(255, 0, 0, 0.6),
      0 0 80px rgba(255, 0, 0, 0.4);
  }
}

.message-box {
  transition: opacity 1s ease-in-out;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff7575;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
  padding: 10px;
  width: 400px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  overflow: hidden;
  border: 2px solid rgba(255, 0, 0, 0.8);
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.8),
    0 0 20px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.4);
  border-radius: 0;
  padding-bottom: 20px;
}


.message-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg,
      rgba(255, 0, 0, 0.74) 0px,
      rgba(255, 0, 0, 0.74) 2px,
      transparent 2px,
      transparent 6px);
  background-size: 100% 8px;
  animation: moveScanlines 1s linear infinite;
  z-index: -1;
  pointer-events: none;
}

.hieroglyph {
  color: red;
  font-size: 30px;
  position: absolute;
  animation: floatAndWobble 10s infinite ease-in-out;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

#yeah {
  background: linear-gradient(311deg,#12141b,#191b12,#16121b,#1a1b12,#1d0101);
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
  color: rgb(255, 254, 185);
  text-shadow: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#cut {
  z-index: 6;
  color: rgb(255, 254, 185);
  animation: colorShift 3s infinite alternate;
}

@keyframes colorShift {
  0% {
    color: rgb(255, 254, 185); 
  }
  100% {
    color: rgb(102, 199, 231); 
  }
}


@keyframes floatAndWobble {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: translateY(-10px) rotate(1deg);
    opacity: 0.4;
  }

  50% {
    transform: translateY(0) rotate(-1deg);
  }

  75% {
    transform: translateY(10px) rotate(1deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.disclaimer {
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0;
  color: #fff;
}

.disclaimer h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.disclaimer p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.disclaimer strong {
  color: #e63946;
  font-weight: bold;
  display: inline-block;
}

.aggressive {
  position: relative;
  color: #fff;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#summon-btn {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  color: #ff9191;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
  font-size: 18px;
  padding: 15px 25px;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  letter-spacing: 2px;
  outline: none;
}

#summon-btn:hover {
  color: #ff0000;
  animation: flicker 1s infinite alternate;
}

#summon-btn:active {
  color: #690000;
  transform: scale(0.95);
  animation: flicker 0.01s infinite alternate;
}

#eye {
  pointer-events: none;
  width: 500px;
  height: auto;
  opacity: 0.4;
}

@keyframes glitch {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  10% {
    transform: translateX(-10px) scale(1.1);
    opacity: 0.8;
  }

  20% {
    transform: translateX(10px) scale(0.9);
    opacity: 0.7;
  }

  30% {
    transform: translateX(-5px) scale(1);
    opacity: 1;
  }

  40% {
    transform: translateX(5px) scale(1.05);
    opacity: 0.9;
  }

  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.cursed {
  color: rgb(151, 0, 0);
  font-family: 'Orbitron', sans-serif;
  animation: flicker2 0.2s infinite;
}


@keyframes flicker2 {
  0% {
    text-shadow:
      0 0 20px rgba(255, 0, 0, 1),
      0 0 40px rgba(255, 0, 0, 0.8),
      0 0 60px rgba(255, 0, 0, 0.6);
  }

  20% {
    text-shadow:
      0 0 15px rgba(255, 0, 0, 1),
      0 0 30px rgba(255, 0, 0, 0.9),
      0 0 45px rgba(255, 0, 0, 0.7);
  }

  40% {
    text-shadow:
      0 0 25px rgba(255, 0, 0, 1),
      0 0 50px rgba(255, 0, 0, 0.8),
      0 0 70px rgba(255, 0, 0, 0.5);
  }

  60% {
    text-shadow:
      0 0 35px rgba(255, 0, 0, 1),
      0 0 70px rgba(255, 0, 0, 0.9),
      0 0 90px rgba(255, 0, 0, 0.4);
  }

  80% {
    text-shadow:
      0 0 20px rgba(255, 0, 0, 0.9),
      0 0 40px rgba(255, 0, 0, 0.8),
      0 0 60px rgba(255, 0, 0, 0.6);
  }

  100% {
    text-shadow:
      0 0 10px rgba(255, 0, 0, 0.9),
      0 0 20px rgba(255, 0, 0, 0.7),
      0 0 30px rgba(255, 0, 0, 0.8);
  }
}

.glitch {
  animation: glitch 0.5s ease-in-out, appear 1s forwards;
}

.hidden-link.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#eye {
  display: block;
}

.hidden-link {
  opacity: 0;
}

.cast-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.cast-info h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.cast-info strong {
  color: #ff0000;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.container {
  flex: 0.4;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(151, 5, 5);
  box-shadow: 0 0 10px rgb(80, 1, 1), 0 0 20px rgb(82, 0, 0), 0 0 30px rgb(99, 0, 0);
}


.member {
  width: 300px;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background: repeating-linear-gradient(0deg,
      rgba(71, 0, 0, 0.5) 0,
      rgba(151, 0, 0, 0.5) 4px,
      transparent 1px,
      transparent 8px);
  animation: moveScanline 7s linear infinite;
}

@keyframes moveScanline {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}


.text-content {
  flex: 1;
  display: flex;
  text-align: left;
  margin-left: 52px;
  font-size: 16px;
}

.extra-content {
  margin-top: 20px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .container,
  .text-content {
    max-width: 100%;
  }
}

.something {
  z-index: 7;
}

.welcome {
  z-index: 7;
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 20px;
}

.art-item {
  z-index: 3;
}

.art-item img {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art-item img:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.822);
}

.art-title {
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art-title h2 {
  padding: 1rem;
}

.art-title strong {
  color: #FF0000;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

#lightbox-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.lightbox-arrow {
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.lightbox-arrow:hover {
  opacity: 1;
  color: red;
}

#lightbox-image-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  gap: 20px;
}

#lightbox img {
  max-width: 60%;
  max-height: 60vh;
  border: 2px solid rgb(114, 0, 0);
  border-radius: 8px;
  animation: enlarge 0.5s ease-in-out;
  object-fit: contain;
}

#lightbox-title {
  color: white;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
}

#lightbox-description {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  margin-top: 1rem;
}

#lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10001;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

#lightbox-close:hover {
  color: #ff0000;
  text-shadow: 0 0 10px #a30000, 0 0 20px #ff0000, 0 0 30px #a30000;
}

#lightbox-close:active {
  color: #ff0000;
  text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 60px #ff0000;
}


@keyframes enlarge {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  gap: 3px;
}

.ok {
  color: #e63946;
  margin-bottom: 3px;
  font-size: clamp(8px, 2vw, 20px);
}


.top-section {
  margin-top: 4rem;
  width: 100%;
  font-size: 30px;
}

.intro-text {
  color: white;
  width: 100%;
}

strong {
  color: red;
}

.intro-text p {
  margin-top: 1rem;
}

.intro-text {
  margin-bottom: 1rem;
}

.image-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.img-wrapper {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  z-index: 4;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.subheader-text {
  color: white;
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.979);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.scanline-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(to bottom,
      transparent,
      transparent 2px,
      rgba(43, 2, 2, 0.4) 8px);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.scanline-overlay.hidden {
  opacity: 0;
}
@keyframes moveScanlineC {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 100%;
  }
}


.contentss-box {
  position: relative;
  text-align: center;
  color: rgb(255, 50, 50);
  text-shadow: 0 0 8px red, 0 0 16px crimson;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.contentss-box.hidden {
  opacity: 0;
  visibility: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.war {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

#clous-btn,
#index-btn {
  padding: 12px 25px;
  background-color: black;
  color: rgb(255, 67, 67);
  border: 2px solid rgb(61, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 0 0 8px red, 0 0 12px crimson;
  position: relative;
  overflow: hidden;
}

#play-music-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg,
      rgba(0, 0, 0, 0.5) 0px,
      rgba(0, 0, 0, 0.5) 2px,
      rgba(255, 0, 0, 0.1) 2px,
      rgba(255, 0, 0, 0.1) 4px);
  z-index: 1;
  animation: moveScanlines 1s linear infinite;
}

#clous-btn::before,
#index-btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  background: repeating-linear-gradient(to bottom,
      transparent,
      transparent 2px,
      rgba(255, 0, 0, 0.4) 8px);
  animation: moveScanlines 1s linear infinite;
}

#clous-btn:hover,
#index-btn:hover {
  background-color: darkred;
  color: white;
}


.s-about-me-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.s-about-me-container p {
  color: white;
}

.s-title {
  text-align: center;
  margin-bottom: 20px;
}

.s-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.s-selfie {
  z-index: 6;
  flex: 0 0 50%;
  min-width: 250px;
  text-align: center;
}

.s-description {
  flex: 0 0 50%;
  min-width: 250px;
  padding-left: 20px;
  margin-bottom: 2rem;
}

.s-header {
  margin-bottom: 10px;
}

.extra {
  padding-bottom: 0.6rem;
}

.s-socials {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.s-social-icon {
  z-index: 6;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.s-social-icon:hover {
  transform: scale(1.5);
}



.s-icon-img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .s-row {
    flex-direction: column;
  }

  .s-selfie,
  .s-description {
    flex: 0 0 100%;
    min-width: auto;
  }
}


.s-selfie-card {
  z-index: 6;
  perspective: 1000px;
  width: 350px;
  height: 500px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(0);
  transition: transform 0.8s;
}

.s-selfie-card:hover .card {
  transform: rotateY(180deg);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
}

.card-front img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.8), inset 0 0 10px 3px rgba(255, 0, 0, 0.8);
}

.card-back img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-style: solid;
}

.card-back {
  transform: rotateY(180deg);
  border-width: 3px;
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.8), inset 0 0 10px 3px rgba(255, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heck {
  height: auto;
  width: 349px;
  padding: 1rem;
  z-index: 4;
}

.card-back p {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

a {
  z-index: 6;
}

.d-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.d-container {
  flex-basis: 48%;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  margin-right: 20px;
}

.d-container:hover {
  transform: scale(1.05);
}

.d-image-container img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.d-wrapper a:nth-of-type(2) .d-text-container {
  background-color: #fffbbc;
}

.d-text-container {
  color: #000000;
  background-color: #abf5ff;
  padding: 10px;
  text-shadow: none;
}

.ashes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.ash,
.small-ash {
  position: absolute;
  background: rgba(255, 0, 0, 0.486);
  border-radius: 50%;
  opacity: 0;
  animation: rise linear infinite;
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.ash {
  width: 4px;
  height: 4px;
  animation-duration: 5s;
}

.small-ash {
  width: 2px;
  height: 2px;
  animation-duration: 4s;
}

@keyframes rise {
  0% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0;
  }
}

